-- Auto-generated seed data. Do not edit by hand; edit generate_seed.js instead.
BEGIN;
TRUNCATE TABLE audit_logs, notifications, placements, interviews, test_results, tests, shortlists, application_status_history, applications, job_eligible_departments, job_requirements, job_drives, companies, resumes, student_skills, skills, student_internships, student_projects, student_certifications, students, faculty, departments, users RESTART IDENTITY CASCADE;

-- Departments
INSERT INTO departments (id, name, code) VALUES (1, 'Bachelor of Computer Applications', 'BCA');
INSERT INTO departments (id, name, code) VALUES (2, 'Bachelor of Computer Science', 'BCS');
INSERT INTO departments (id, name, code) VALUES (3, 'Information Technology', 'IT');

-- Skills
INSERT INTO skills (id, name) VALUES (1, 'JavaScript');
INSERT INTO skills (id, name) VALUES (2, 'TypeScript');
INSERT INTO skills (id, name) VALUES (3, 'React');

-- Admin account (demo login: admin@campusplacements.edu / Password@123)
INSERT INTO users (id, email, password_hash, role) VALUES ('5cf2bc99-2721-407d-8592-ba00fbdf302f', 'admin@campusplacements.edu', '$2a$10$owSi6y79bMtyXJQZ75h2/u8sLDr1f/GdzsGxATZ/hLHf1/DbKfRpa', 'ADMIN');

-- Faculty coordinators (one per department, demo login: <dept-code-lowercase>.faculty@campusplacements.edu)
INSERT INTO users (id, email, password_hash, role) VALUES ('94980604-8962-404f-a537-1c9368f970d9', 'bca.faculty@campusplacements.edu', '$2a$10$owSi6y79bMtyXJQZ75h2/u8sLDr1f/GdzsGxATZ/hLHf1/DbKfRpa', 'FACULTY');
INSERT INTO faculty (id, user_id, full_name, department_id, designation, phone) VALUES ('2710fff9-c640-413a-937a-197d02e642ac', '94980604-8962-404f-a537-1c9368f970d9', 'Deanna Lockman', 1, 'Placement Coordinator', '1098749389');
INSERT INTO users (id, email, password_hash, role) VALUES ('9be51938-0f5d-46b4-b8d9-5f498424c210', 'bcs.faculty@campusplacements.edu', '$2a$10$owSi6y79bMtyXJQZ75h2/u8sLDr1f/GdzsGxATZ/hLHf1/DbKfRpa', 'FACULTY');
INSERT INTO faculty (id, user_id, full_name, department_id, designation, phone) VALUES ('6c63400d-3bbb-4cc9-a1e5-a1edd9751154', '9be51938-0f5d-46b4-b8d9-5f498424c210', 'Genevieve McLaughlin', 2, 'Placement Coordinator', '2854319787');
INSERT INTO faculty (id, user_id, full_name, department_id, designation, phone) VALUES ('3f194b2e-e9c4-4a1d-87c3-26ee85c1e55e', 'b83c4708-b610-4713-80ea-7598be23968c', 'Grace Keebler', 3, 'Placement Coordinator', '8383015544');

-- Companies (demo recruiter login for first 3: <slug>@company.com)
INSERT INTO companies (id, user_id, name, industry, website, description, hq_location, approval_status) VALUES ('42487b7a-f32b-4037-a52b-5abdba498185', '4439ff67-eea6-4c58-8a9a-7d33b7490ca0', 'TechNova Solutions', 'Analytics & Data', 'https://www.technovasolutions.com', 'User-centric holistic time-frame', 'Fort Shaun, India', 'APPROVED');
INSERT INTO companies (id, user_id, name, industry, website, description, hq_location, approval_status) VALUES ('5b0fe568-f9ff-4d14-a463-d4572586edbe', '1139af52-484e-45bd-8b2b-b5844c6c4d9e', 'Zenith Software Labs', 'Consulting', 'https://www.zenithsoftwarelabs.com', 'Adaptive hybrid migration', 'Dickinsonfurt, India', 'APPROVED');
INSERT INTO companies (id, user_id, name, industry, website, description, hq_location, approval_status) VALUES ('1b6c0ee5-0691-479a-9057-28f4d9d0400d', '58258dc4-3f97-41d0-b386-8ba2b2ff8b50', 'BluePeak Systems', 'E-Commerce', 'https://www.bluepeaksystems.com', 'Extended global help-desk', 'Blockburgh, India', 'APPROVED');

-- Students (demo login for first student: student1@campusplacements.edu / Password@123)
INSERT INTO students (id, user_id, roll_number, full_name, phone, date_of_birth, gender, department_id, course, graduation_year, cgpa, backlogs, github_url, linkedin_url, profile_completion) VALUES ('706cc9ab-c3e2-490f-b599-a6861eb5887c', '933eac90-5410-4a78-87cd-84dd8f81ec69', 'BCS2026001', 'Mr. Jody Wiegand', '9847204096', '2004-08-12', 'FEMALE', 2, 'B.Sc Computer Science', 2026, 7.99, 0, 'https://github.com/Fae_Durgan', 'https://linkedin.com/in/Dax.Blanda', 76);
INSERT INTO student_skills (student_id, skill_id, proficiency) VALUES ('706cc9ab-c3e2-490f-b599-a6861eb5887c', 11, 'BEGINNER');
INSERT INTO student_skills (student_id, skill_id, proficiency) VALUES ('706cc9ab-c3e2-490f-b599-a6861eb5887c', 5, 'ADVANCED');
INSERT INTO student_skills (student_id, skill_id, proficiency) VALUES ('706cc9ab-c3e2-490f-b599-a6861eb5887c', 17, 'INTERMEDIATE');
INSERT INTO resumes (student_id, file_name, file_url, is_primary) VALUES ('706cc9ab-c3e2-490f-b599-a6861eb5887c', 'Mr._Jody_Wiegand_Resume.pdf', '/uploads/resumes/706cc9ab-c3e2-490f-b599-a6861eb5887c.pdf', TRUE);
INSERT INTO students (id, user_id, roll_number, full_name, phone, date_of_birth, gender, department_id, course, graduation_year, cgpa, backlogs, github_url, linkedin_url, profile_completion) VALUES ('285b501c-7ab1-48d2-be60-04dc1b92f385', '2b56ed78-af29-4330-9d25-45201818753e', 'IT2026002', 'Vernon Koepp', '0012176885', '2005-08-22', 'FEMALE', 3, 'B.Tech IT', 2026, 6.45, 0, 'https://github.com/Juwan35', 'https://linkedin.com/in/Kacey.Flatley73', 89);
INSERT INTO resumes (student_id, file_name, file_url, is_primary) VALUES ('285b501c-7ab1-48d2-be60-04dc1b92f385', 'Vernon_Koepp_Resume.pdf', '/uploads/resumes/285b501c-7ab1-48d2-be60-04dc1b92f385.pdf', TRUE);
INSERT INTO students (id, user_id, roll_number, full_name, phone, date_of_birth, gender, department_id, course, graduation_year, cgpa, backlogs, github_url, linkedin_url, profile_completion) VALUES ('9357f59e-3013-4253-972d-214c20ed1080', '813e597a-5ca7-4719-a8b9-8b96926455ea', 'BBA2027003', 'Jana Mayer DVM', '0892417689', '2005-07-08', 'OTHER', 4, 'BBA', 2027, 9.37, 3, 'https://github.com/Kaylin.Marquardt', 'https://linkedin.com/in/Roel_DuBuque32', 94);
INSERT INTO resumes (student_id, file_name, file_url, is_primary) VALUES ('9357f59e-3013-4253-972d-214c20ed1080', 'Jana_Mayer_DVM_Resume.pdf', '/uploads/resumes/9357f59e-3013-4253-972d-214c20ed1080.pdf', TRUE);

-- Job Drives
INSERT INTO job_drives (id, company_id, title, description, location, employment_type, package_min_lpa, package_max_lpa, application_deadline, drive_date, status) VALUES ('788954b6-dcff-4cdd-b986-d541615b7444', '42487b7a-f32b-4037-a52b-5abdba498185', 'Java Developer', 'Toties tactus vita cursim tredecim concido maiores comes attero. Alveus admoveo adopto abundans sophismata theatrum timor demoror dolor. Adopto canto facere vicissitudo.', 'St. Paul, India', 'FULL_TIME', 5.1, 6.3, '2026-08-30T00:51:53.360Z', '2026-09-06T00:51:53.360Z', 'OPEN');
INSERT INTO job_requirements (job_drive_id, min_cgpa, max_backlogs, graduation_year, required_skills) VALUES ('788954b6-dcff-4cdd-b986-d541615b7444', 7, 0, 2026, ARRAY['Java','MongoDB','GraphQL','Node.js']);
INSERT INTO job_eligible_departments (job_drive_id, department_id) VALUES ('788954b6-dcff-4cdd-b986-d541615b7444', 5);
INSERT INTO job_eligible_departments (job_drive_id, department_id) VALUES ('788954b6-dcff-4cdd-b986-d541615b7444', 2);
INSERT INTO job_eligible_departments (job_drive_id, department_id) VALUES ('788954b6-dcff-4cdd-b986-d541615b7444', 3);
INSERT INTO job_drives (id, company_id, title, description, location, employment_type, package_min_lpa, package_max_lpa, application_deadline, drive_date, status) VALUES ('9bc7c8ef-cfb3-43c0-b383-1af64ed1685e', '5b0fe568-f9ff-4d14-a463-d4572586edbe', 'Cloud Support Associate', 'Ait doloribus verbera comptus aut tui cupressus collum. Distinctio patruus cui aequitas umbra calamitas. Vicinus creptio ver strues terminatio pauper.', 'North Erickamouth, India', 'FULL_TIME', 4.8, 8.2, '2026-09-08T20:55:44.186Z', '2026-09-15T20:55:44.186Z', 'OPEN');
INSERT INTO job_requirements (job_drive_id, min_cgpa, max_backlogs, graduation_year, required_skills) VALUES ('9bc7c8ef-cfb3-43c0-b383-1af64ed1685e', 6, 1, 2027, ARRAY['Git','Excel','Django']);
INSERT INTO job_drives (id, company_id, title, description, location, employment_type, package_min_lpa, package_max_lpa, application_deadline, drive_date, status) VALUES ('ab4feaa5-13ed-4fd1-8383-4b652492f486', '1b6c0ee5-0691-479a-9057-28f4d9d0400d', 'ML Engineer Intern', 'Basium aestivus comminor. Deleniti ultra villa abeo vicinus video beatae. Contabesco turbo architecto.', 'Johnathanchester, India', 'FULL_TIME', 6.3, 9.3, '2026-09-07T03:51:10.485Z', '2026-09-14T03:51:10.485Z', 'OPEN');
INSERT INTO job_requirements (job_drive_id, min_cgpa, max_backlogs, graduation_year, required_skills) VALUES ('ab4feaa5-13ed-4fd1-8383-4b652492f486', 7.5, 0, 2026, ARRAY['AWS','Excel','PHP','PostgreSQL']);

-- Applications / Tests / Interviews / Placements
INSERT INTO tests (id, job_drive_id, name, test_date, duration_mins, max_score) VALUES ('6060b718-8e91-47db-a366-f57692d84c17', '788954b6-dcff-4cdd-b986-d541615b7444', 'TechNova Solutions Online Assessment', '2026-08-13T13:27:55.398Z', 90, 100);
INSERT INTO applications (id, student_id, job_drive_id, status, applied_at) VALUES ('7debf764-6e69-453c-b4cc-700f424cc617', '6a4c487b-ba55-49c6-9449-0b063467ddce', '788954b6-dcff-4cdd-b986-d541615b7444', 'APPLIED', '2026-07-27T22:53:29.759Z');
UPDATE applications SET status = 'REJECTED' WHERE id = '7debf764-6e69-453c-b4cc-700f424cc617';
INSERT INTO application_status_history (application_id, from_status, to_status, remarks) VALUES ('7debf764-6e69-453c-b4cc-700f424cc617', 'APPLIED', 'REJECTED', 'Seed-generated workflow progression');
INSERT INTO applications (id, student_id, job_drive_id, status, applied_at) VALUES ('a6b860a0-93ca-4717-a1a6-1a6bf2015f54', 'd9fcef50-3877-4ba7-b87a-da51dc615b76', '788954b6-dcff-4cdd-b986-d541615b7444', 'APPLIED', '2026-07-28T18:33:01.902Z');
INSERT INTO shortlists (application_id, remarks) VALUES ('a6b860a0-93ca-4717-a1a6-1a6bf2015f54', 'Meets criteria after resume review');
INSERT INTO test_results (test_id, application_id, score, passed) VALUES ('6060b718-8e91-47db-a366-f57692d84c17', 'a6b860a0-93ca-4717-a1a6-1a6bf2015f54', 46.1, false);
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'a6b860a0-93ca-4717-a1a6-1a6bf2015f54';
INSERT INTO application_status_history (application_id, from_status, to_status, remarks) VALUES ('a6b860a0-93ca-4717-a1a6-1a6bf2015f54', 'APPLIED', 'SHORTLISTED', 'Seed-generated workflow progression');
INSERT INTO applications (id, student_id, job_drive_id, status, applied_at) VALUES ('dac121db-c59f-4504-b711-859f5e7059aa', '07518220-a7f1-4715-af6d-17ef6069a977', '788954b6-dcff-4cdd-b986-d541615b7444', 'APPLIED', '2026-08-17T02:05:41.632Z');
INSERT INTO shortlists (application_id, remarks) VALUES ('dac121db-c59f-4504-b711-859f5e7059aa', 'Meets criteria after resume review');
INSERT INTO test_results (test_id, application_id, score, passed) VALUES ('6060b718-8e91-47db-a366-f57692d84c17', 'dac121db-c59f-4504-b711-859f5e7059aa', 49.5, false);
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'dac121db-c59f-4504-b711-859f5e7059aa';
INSERT INTO application_status_history (application_id, from_status, to_status, remarks) VALUES ('dac121db-c59f-4504-b711-859f5e7059aa', 'APPLIED', 'SHORTLISTED', 'Seed-generated workflow progression');
INSERT INTO shortlists (application_id, remarks) VALUES ('26e2f9fb-cea4-45f2-8119-b0ced8eaedf2', 'Meets criteria after resume review');
INSERT INTO test_results (test_id, application_id, score, passed) VALUES ('6060b718-8e91-47db-a366-f57692d84c17', '26e2f9fb-cea4-45f2-8119-b0ced8eaedf2', 84.3, true);
INSERT INTO interviews (application_id, round_type, scheduled_at, mode, interviewer, result, feedback) VALUES ('26e2f9fb-cea4-45f2-8119-b0ced8eaedf2', 'TECHNICAL', '2026-08-17T12:12:34.738Z', 'ONLINE', 'Monica Wunsch', 'FAIL', 'Patrocinor aperiam adaugeo acquiro cervus sto adduco peccatus curia videlicet.');
UPDATE applications SET status = 'REJECTED' WHERE id = '26e2f9fb-cea4-45f2-8119-b0ced8eaedf2';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'e3f1a420-e08e-425e-96c0-b4bc393cb734';
UPDATE applications SET status = 'REJECTED' WHERE id = '5cd74cad-2aa3-4e49-9581-f4a3474eb1bb';
UPDATE applications SET status = 'REJECTED' WHERE id = '51fe1965-0cd4-41ba-b00d-a7da638a6c47';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '47be373d-5c96-473b-b63d-03c8dc059a63';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'cd1c44dc-58f0-4f74-8f0e-b17b1cb407db';
INSERT INTO tests (id, job_drive_id, name, test_date, duration_mins, max_score) VALUES ('c65523a7-58da-4146-8f62-ff200735d739', '9bc7c8ef-cfb3-43c0-b383-1af64ed1685e', 'Zenith Software Labs Online Assessment', '2026-08-14T15:52:37.541Z', 90, 100);
UPDATE applications SET status = 'REJECTED' WHERE id = '26bb1a5d-4389-4b98-a5e7-f552c3b1ea7a';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '6bd03e3d-5739-48f2-b85e-e163b7193dcf';
INSERT INTO interviews (application_id, round_type, scheduled_at, mode, interviewer, result, feedback) VALUES ('0fce9f36-73ba-4ca7-824c-f0a7654bb53d', 'TECHNICAL', '2026-08-20T11:21:46.355Z', 'ONLINE', 'Dr. Donnie Carroll Jr.', 'FAIL', 'Confero a amita antepono celebrer.');
UPDATE applications SET status = 'REJECTED' WHERE id = '0fce9f36-73ba-4ca7-824c-f0a7654bb53d';
INSERT INTO interviews (application_id, round_type, scheduled_at, mode, interviewer, result, feedback) VALUES ('edd038c9-98f7-45ca-a214-69fb864e16b6', 'TECHNICAL', '2026-08-13T20:44:02.793Z', 'ONLINE', 'Daniel Gutmann', 'PASS', 'Terminatio commemoro copiose casus carbo explicabo spectaculum trans auxilium amet.');
UPDATE applications SET status = 'REJECTED' WHERE id = 'edd038c9-98f7-45ca-a214-69fb864e16b6';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '7276b7f6-1500-4ca1-b6f3-9dac3734aae4';
UPDATE applications SET status = 'REJECTED' WHERE id = 'b2001d04-2013-4f54-9f28-33e58550d26b';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '33655ca9-4b99-41a3-906e-e166ac462f07';
INSERT INTO tests (id, job_drive_id, name, test_date, duration_mins, max_score) VALUES ('65819b5f-4bbe-4dc3-a213-e552895f2c96', 'ab4feaa5-13ed-4fd1-8383-4b652492f486', 'BluePeak Systems Online Assessment', '2026-08-23T06:47:51.427Z', 90, 100);
UPDATE applications SET status = 'REJECTED' WHERE id = '3578c591-1784-4bec-a1a0-20b5aa0b675a';
UPDATE applications SET status = 'REJECTED' WHERE id = '142f295c-3172-47ce-b00d-509a9579db15';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '7129e8ab-2806-4269-b025-3f0db5c9cd27';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = 'ddd9fab0-3d0c-4748-ab33-1093c2f5c6c8';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'de71b296-c269-4c67-94f2-7579c9d28120';
UPDATE applications SET status = 'REJECTED' WHERE id = 'ec0cb0d7-1a6d-4f0d-bd78-c3d554e87082';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'd25307a8-bca7-4fcd-9971-1276b69b8976';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '38926585-29a1-4dd4-b87a-fb54971f9c1f';
UPDATE applications SET status = 'REJECTED' WHERE id = '2c1b9957-4dcf-4575-8ed9-d857d3d06318';
UPDATE applications SET status = 'REJECTED' WHERE id = '014d7f63-3750-4baa-b614-b30a86429b49';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '413c4ae1-abb7-4efe-a2ba-36df35bfaec4';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'ff416489-4f01-4304-b070-2edbba18aca2';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '731e6e5b-0c21-4c80-93e2-1cc2e7ffd24f';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = '82205d68-494e-4fa2-abbc-0195ef4e2ea7';
UPDATE applications SET status = 'REJECTED' WHERE id = 'fe10686c-9825-4224-9ef7-bea9da2cda96';
UPDATE applications SET status = 'REJECTED' WHERE id = 'dcc5d611-fef1-45a1-9626-fa91594c4da2';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'faaec748-1e7e-4573-94f6-7624344df14a';
UPDATE applications SET status = 'REJECTED' WHERE id = '540342c5-e130-47c7-b2dc-cc88a4d20b69';
INSERT INTO placements (student_id, application_id, company_id, job_drive_id, package_lpa, offer_date) VALUES ('0487bbbb-3fd4-4f83-98e6-120f2d07d903', 'b08e8155-86a0-467b-bcdd-2e776aa137a2', '02f1d6bb-602e-4274-a381-b2ae4af8ba86', '78e7ed6c-77e1-4c10-8c58-673a3d0aac4c', 7.6, '2026-08-22');
UPDATE students SET is_placed = TRUE WHERE id = '0487bbbb-3fd4-4f83-98e6-120f2d07d903';
UPDATE applications SET status = 'SELECTED' WHERE id = 'b08e8155-86a0-467b-bcdd-2e776aa137a2';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = 'd446a7a3-3e08-46f4-9cc8-cf789e95d666';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = 'f3791577-78e3-462f-8e76-f600e7e8f80b';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '7e5da5c3-a4b8-4ebd-b8a1-3bac84bad6be';
INSERT INTO placements (student_id, application_id, company_id, job_drive_id, package_lpa, offer_date) VALUES ('eb8d779d-981a-4a83-97b3-d4c489812ecb', '80b4ee7d-5acb-43b6-afdd-b96a335a4622', 'c1051101-04df-4b27-a01c-7c75276a609f', 'a66a4bba-d5a1-4862-a20f-77059c67c44c', 9.5, '2026-08-21');
UPDATE students SET is_placed = TRUE WHERE id = 'eb8d779d-981a-4a83-97b3-d4c489812ecb';
UPDATE applications SET status = 'SELECTED' WHERE id = '80b4ee7d-5acb-43b6-afdd-b96a335a4622';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '2c171e1b-9b33-44c2-adf5-d3365b367b01';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = '4e329c1c-0246-482e-94d4-78068fb25f13';
UPDATE applications SET status = 'REJECTED' WHERE id = 'f082ab56-5602-4887-9227-cc74572f8acd';
UPDATE applications SET status = 'REJECTED' WHERE id = '4b19c559-7531-4af4-a2f1-be246a6586d4';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = '06ab08cf-a048-449c-8ec0-594d830e102b';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = 'dc9d0bbd-6397-4ab5-9aeb-23a10ee8121c';
UPDATE applications SET status = 'REJECTED' WHERE id = '461246d2-fd74-4092-b850-9f18f552e5c0';
INSERT INTO placements (student_id, application_id, company_id, job_drive_id, package_lpa, offer_date) VALUES ('484dc973-c6d7-4d9e-9c61-5e905590b6b8', '7b918d0d-9ad8-42b9-a099-2d15f1663b21', 'c1051101-04df-4b27-a01c-7c75276a609f', 'a66a4bba-d5a1-4862-a20f-77059c67c44c', 9.3, '2026-08-22');
UPDATE students SET is_placed = TRUE WHERE id = '484dc973-c6d7-4d9e-9c61-5e905590b6b8';
UPDATE applications SET status = 'SELECTED' WHERE id = '7b918d0d-9ad8-42b9-a099-2d15f1663b21';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = 'd20c9c5e-50a8-4d39-a5dc-438a7a0f8cac';
UPDATE applications SET status = 'REJECTED' WHERE id = 'ca78905b-b6df-4bd8-b974-a3a5879418f2';
UPDATE students SET is_placed = TRUE WHERE id = 'd8394c09-d9c0-4a6c-9324-78531473ef0f';
UPDATE applications SET status = 'SELECTED' WHERE id = '519e0e08-4bb6-4da8-a584-692719c4e571';
UPDATE applications SET status = 'REJECTED' WHERE id = 'c15f2605-4b35-48d0-978b-619dbba3f225';
UPDATE applications SET status = 'REJECTED' WHERE id = '6467a076-896f-4f8e-ad48-10d5f94f5df3';
UPDATE applications SET status = 'REJECTED' WHERE id = 'b7c5bc75-b2a6-4dfc-9309-6601179bd81d';
UPDATE applications SET status = 'REJECTED' WHERE id = 'e1de86c9-8c25-41b3-b254-e2cc637b4fb8';
UPDATE applications SET status = 'REJECTED' WHERE id = '37059799-6faf-48d4-ae67-6aeef6efb699';
UPDATE applications SET status = 'REJECTED' WHERE id = 'ff338bb8-a44c-498c-8a75-c759f6839f08';
UPDATE applications SET status = 'REJECTED' WHERE id = 'a6658616-d8c8-427a-a2d7-a242ae395a36';
UPDATE applications SET status = 'REJECTED' WHERE id = '1aec553f-7d4d-4825-a424-447d00c19493';
UPDATE applications SET status = 'REJECTED' WHERE id = 'aab7bfb3-04ff-4dde-a708-edc7d31db8f2';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = '7e3dc2a1-8968-444d-be7e-868e764b1711';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '74384d06-ab3e-443c-ac5c-352fc4247c86';
UPDATE students SET is_placed = TRUE WHERE id = 'e2b73408-429d-40d7-af92-59c71515b67b';
UPDATE applications SET status = 'SELECTED' WHERE id = 'a3c8f878-997f-4aea-8e0c-8f1104c74d58';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '39e79f67-21ff-4cd3-825e-c5b6ce78b265';
UPDATE applications SET status = 'REJECTED' WHERE id = '2f94b75a-b8ed-47c6-804f-9ced5a6d6185';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = 'd341bc8d-922d-4ba3-881d-86b30418c8cc';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '739ba6ee-0400-424f-89b6-980eeed4a758';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = 'a0c0147e-1a9c-4428-9d80-e389966ff0cf';
UPDATE applications SET status = 'REJECTED' WHERE id = '261b316f-7009-4f9b-9252-5c7ea42735d1';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = 'fbebe48d-557b-4b1e-8235-e9daf6e1451b';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '5a840b52-2da9-4797-9361-f73981bf8fe8';
UPDATE applications SET status = 'REJECTED' WHERE id = '214bd933-37ab-4483-b645-79ffda41577e';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '2f5fb1fe-253d-4360-b79a-ac9019123545';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '50162607-7df1-41bf-a5b4-aea3da1488bc';
UPDATE applications SET status = 'REJECTED' WHERE id = 'd19b38a6-b509-47ed-a77d-46d12030a655';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '50326e08-cc23-407a-b5cd-d07332bdb736';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = 'ffddbb4f-2be3-4674-b176-eb6695c96d30';
UPDATE applications SET status = 'REJECTED' WHERE id = '0c738a51-2862-4a6c-ad8f-9538482f373b';
UPDATE applications SET status = 'REJECTED' WHERE id = '95fe3eae-d486-44d4-9509-41b00639b6c9';
UPDATE applications SET status = 'REJECTED' WHERE id = 'ba6a2666-92f8-4198-9755-8b015ed08f77';
UPDATE applications SET status = 'REJECTED' WHERE id = '4460d4f1-7a65-4dc6-a38e-38b186c3c338';
UPDATE applications SET status = 'REJECTED' WHERE id = '8bcb422f-5d83-4922-a272-4bd75cdb69ba';
UPDATE applications SET status = 'REJECTED' WHERE id = '946ac060-7d8a-4d4a-bb5c-a4a0eed5a157';
UPDATE applications SET status = 'REJECTED' WHERE id = '93f4331f-13a9-4fe0-92bf-afbe53da0ccf';
UPDATE applications SET status = 'REJECTED' WHERE id = '66915e60-b6f0-481c-9a1a-3080014c8900';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '078545aa-bcda-473f-a7fc-e7986c5a063e';
UPDATE applications SET status = 'REJECTED' WHERE id = 'fe1002ec-35b1-4cfd-acf6-4dba1c6dd159';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '80aef80b-9ddf-47d1-a785-5226d588eacf';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = 'a6530e42-c438-4b49-b329-417065cbb896';
UPDATE applications SET status = 'REJECTED' WHERE id = '843b31fc-cbbb-4c1f-bb9a-3dd0b0657268';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = '0e6448d0-989a-4831-897a-fadce4d91f3e';
UPDATE applications SET status = 'REJECTED' WHERE id = '798ea865-4c27-455b-9bcc-ac3f9c9c7d80';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'dfe0c7d2-776d-46f9-9a15-99a47efd9835';
UPDATE applications SET status = 'REJECTED' WHERE id = '05d1795f-77de-41dd-a2eb-f6643a5b522e';
UPDATE applications SET status = 'REJECTED' WHERE id = '50890608-361f-4492-ab0e-e900b02be4e9';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '13500caf-ece7-4be7-a688-27573cd8e584';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '993b27a3-aecb-48ee-9def-c3a145f2483a';
UPDATE applications SET status = 'REJECTED' WHERE id = '4fe9085a-b7c0-4690-bb96-1c13a342557d';
UPDATE applications SET status = 'REJECTED' WHERE id = 'b9e1fc00-f3ae-4ab0-81dd-27dd09aa6f33';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '771070a1-daa9-4184-b047-eed6591cece8';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '3536e2d7-8c9d-4766-88e0-2a66577d7780';
UPDATE applications SET status = 'REJECTED' WHERE id = '7362d18c-b67a-47b7-8a67-8646ea572d1d';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '623a0480-ae13-47eb-9bfc-a333b89234d5';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '1e9eefcb-9852-48b1-b4a4-b3fe4d0a87ba';
UPDATE applications SET status = 'REJECTED' WHERE id = '6468659d-a77c-4f91-ac55-6d0458438755';
UPDATE applications SET status = 'REJECTED' WHERE id = '4e0c6eea-039e-482d-9314-a4a8abfed10f';
UPDATE applications SET status = 'REJECTED' WHERE id = '60457d69-6cfb-417e-b079-90d95c696f57';
UPDATE applications SET status = 'REJECTED' WHERE id = '208a0e59-a57d-4fcd-9852-04dbecd425f1';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'b0e030ea-46f4-44ef-a306-bf867831bc36';
UPDATE applications SET status = 'REJECTED' WHERE id = '4f60c3f3-06c3-4478-bd4b-99515b022ce4';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'e0fcd605-67d5-4559-8c91-5fe88272f97a';
UPDATE students SET is_placed = TRUE WHERE id = '0c023769-e670-44c8-b01c-9e96c8f7468e';
UPDATE applications SET status = 'SELECTED' WHERE id = '3dcc0cdb-a46d-45e0-93d2-2f4d9e3e78ca';
UPDATE applications SET status = 'REJECTED' WHERE id = '22dc9cf3-144f-43d8-8b61-26a8824779b5';
UPDATE applications SET status = 'REJECTED' WHERE id = 'aa7fea5b-4686-4725-adbe-c9d5f244b469';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '70f0b9f4-dee5-4d47-b442-5902868780f0';
UPDATE applications SET status = 'REJECTED' WHERE id = 'b5f6251c-0869-49dd-aca2-3b76e45077f5';
UPDATE applications SET status = 'REJECTED' WHERE id = '852300c3-92b9-4428-88b9-7490c0301b85';
UPDATE applications SET status = 'REJECTED' WHERE id = 'db3bf89a-fd16-426d-9cd9-71bed00b9cdf';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '929ab186-1bd0-449f-9510-f31f380fb8d8';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = 'e7faed24-d266-4fe7-b08a-875215e3ce27';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '4da8ec42-e596-4c86-8e3d-e2e27504199e';
UPDATE applications SET status = 'REJECTED' WHERE id = 'a4db8037-8989-4b63-a45a-5dfb7ecbcc42';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'e774f834-1be7-4d7f-9fa6-e5d5de9769e2';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = '47b9d7b0-be87-4b96-82a0-431b617e43b3';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'c43fb012-f33c-4eec-b1f0-7bb252207024';
UPDATE applications SET status = 'REJECTED' WHERE id = 'bd625b78-2fa8-450d-89c2-9c5d37cc7237';
UPDATE students SET is_placed = TRUE WHERE id = '8d3157ca-ed5c-4443-9fa1-5eff526b90c6';
UPDATE applications SET status = 'SELECTED' WHERE id = '29c03c81-7a90-4edd-a278-046b958ba42c';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'bc603e34-0a4c-4b2c-8737-f487e5b5ba1a';
UPDATE applications SET status = 'REJECTED' WHERE id = 'ebd58c65-6db2-4a23-b5a6-450cb1a56d81';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = 'f488cf09-9e6a-4c70-ad67-cd84821d29ae';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '861df303-ca8d-4571-8b9f-9f4beb437d86';
UPDATE students SET is_placed = TRUE WHERE id = '2ba155a0-1a22-4da3-8fd1-41a5bd834531';
UPDATE applications SET status = 'SELECTED' WHERE id = '15618669-389b-4c0a-a43d-b14d21bdd579';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '34e4d918-1071-49a4-97bf-9a5007c631de';
UPDATE applications SET status = 'REJECTED' WHERE id = '3d4d0543-9c66-4f30-be93-d070093a54f5';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'fad05ee3-ff52-44c8-a321-0dfde62b68dd';
UPDATE applications SET status = 'REJECTED' WHERE id = '8b7e5ee6-222e-491a-bb32-66f632aeb07e';
UPDATE students SET is_placed = TRUE WHERE id = 'c2d47e8f-1567-4abc-8e39-26a60b200925';
UPDATE applications SET status = 'SELECTED' WHERE id = 'b57b94bc-98e4-4564-bb3e-0209d4aca19b';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'ef647dde-8a3e-4e60-9feb-00ae17b709d2';
UPDATE applications SET status = 'REJECTED' WHERE id = 'db074300-66b1-4c1f-a49a-48e1cf9eb4e1';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '57b4076c-622c-40b2-a8ad-c2f95796e425';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '67ec817c-abfb-4cb0-9753-785fb9d0b0ff';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = 'a8a73d0f-6692-4ede-868e-cf71bf355aa0';
UPDATE applications SET status = 'REJECTED' WHERE id = '3c109a27-250d-4cdc-8029-b5663d942fc2';
UPDATE applications SET status = 'REJECTED' WHERE id = '7a16d9b3-f5b8-4f98-a594-f4a205b3eac9';
UPDATE students SET is_placed = TRUE WHERE id = '706cc9ab-c3e2-490f-b599-a6861eb5887c';
UPDATE applications SET status = 'SELECTED' WHERE id = 'a5f318ae-4aab-49d2-b531-992349db5c74';
UPDATE applications SET status = 'REJECTED' WHERE id = '256a23c5-7f55-455d-998f-bfe9e05ef905';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'e6404d48-9574-4b9e-83a5-3aee482c1c9a';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = 'd464093d-cc14-423b-8fe0-ae330f95079b';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'a0404ff2-fb71-4c1b-a847-0f2fdcb9a725';
UPDATE applications SET status = 'REJECTED' WHERE id = '9d903a00-fb5a-4721-acd1-0dd42beeb528';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '5229db6e-6d28-46bd-8c57-f1f72d29db62';
UPDATE applications SET status = 'REJECTED' WHERE id = 'c590c560-c35c-43eb-9168-f452e3e931c6';
UPDATE applications SET status = 'REJECTED' WHERE id = 'e473be7b-3d36-465c-9690-bb457509d6ff';
UPDATE students SET is_placed = TRUE WHERE id = '5be063da-d750-4ac1-ac18-019c698c8c5c';
UPDATE applications SET status = 'SELECTED' WHERE id = '0924af97-ca42-4cbb-a457-8e2f76ed60dd';
UPDATE applications SET status = 'REJECTED' WHERE id = '44f78bd1-5919-4aa0-9577-35acf27fda8e';
UPDATE applications SET status = 'REJECTED' WHERE id = 'e5eec141-843f-47a7-88db-e66c06dd2494';
UPDATE applications SET status = 'REJECTED' WHERE id = 'b3269fbc-59d1-4966-9481-982e6a5369cf';
UPDATE applications SET status = 'REJECTED' WHERE id = 'fb4f6cc2-858f-4076-b147-fb4fe5a85e85';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'd566b2a6-6c2c-4bed-b6ab-083c1b95c514';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = 'fb3f111e-c256-43d5-9ea8-89bb5d711c17';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'c9893d5d-715d-4565-b41d-160c14509731';
UPDATE applications SET status = 'REJECTED' WHERE id = '487b1540-ce22-4afe-a9a4-c71840e5bba8';
UPDATE applications SET status = 'REJECTED' WHERE id = 'e62d5f0c-b6ec-4a5f-8220-16ded3d3cf50';
UPDATE students SET is_placed = TRUE WHERE id = '69051a43-000c-4e9b-9c40-2d8909f96d69';
UPDATE applications SET status = 'SELECTED' WHERE id = '1f2ce690-f2f7-45d4-b6d8-feaec3c0549b';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '44fd710c-b157-4ab4-b294-cdee405271e2';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = '8277f185-a25a-46f9-9f16-493d018b8663';
UPDATE students SET is_placed = TRUE WHERE id = '30b5e848-1547-4af5-8644-23774cb31ba0';
UPDATE applications SET status = 'SELECTED' WHERE id = '2412b736-4b7e-47cb-b49e-adbe475c7944';
UPDATE students SET is_placed = TRUE WHERE id = '3733e172-5875-4ad2-9673-99fb4252609b';
UPDATE applications SET status = 'SELECTED' WHERE id = 'f88b11d9-d3a6-47aa-84b0-e0f080c1f323';
UPDATE applications SET status = 'REJECTED' WHERE id = 'fb2977dc-317a-42f6-8c24-545afef918b2';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'e32e037c-c7cf-4ed8-bb1d-9acd14210996';
UPDATE applications SET status = 'REJECTED' WHERE id = '8f51ae0d-f5ef-4e45-9e8e-fce9c16895cc';
UPDATE applications SET status = 'REJECTED' WHERE id = 'abf76757-90d3-4e2c-ae64-a2d17b302701';
UPDATE applications SET status = 'REJECTED' WHERE id = '1f3f478a-69a5-4071-817c-534717e8bd1b';
UPDATE applications SET status = 'REJECTED' WHERE id = 'f8a166bf-cfcb-4736-b106-ed9b3ee9e2f1';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '42334dce-5d25-4145-982b-2fa2001bdddd';
UPDATE applications SET status = 'REJECTED' WHERE id = 'fb85e0f2-d249-43e8-9c78-e61947c31a5d';
UPDATE applications SET status = 'REJECTED' WHERE id = '9d26d670-eb7c-44a2-b201-8916669f4b26';
UPDATE applications SET status = 'REJECTED' WHERE id = 'f01a2dfb-06f0-40fd-af48-f158ae1a3bc1';
UPDATE applications SET status = 'REJECTED' WHERE id = 'e26ed87c-f1fe-45de-93dd-349314de2e15';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '967b448f-50cf-483e-b084-3cdc83339a57';
UPDATE applications SET status = 'REJECTED' WHERE id = '0b91b6ff-ac32-414a-858a-ecbb886c6631';
UPDATE applications SET status = 'REJECTED' WHERE id = '56f8da5f-7166-423f-a76e-eb3a870ac099';
UPDATE students SET is_placed = TRUE WHERE id = '9be4da25-6f74-4c49-8ea0-fb1b3d6f5f01';
UPDATE applications SET status = 'SELECTED' WHERE id = '05331c40-a197-4948-bb4a-3c25db9d2525';
UPDATE applications SET status = 'REJECTED' WHERE id = 'cdce547d-92f5-458e-8349-f9a37c9a4543';
UPDATE applications SET status = 'REJECTED' WHERE id = '1d53c09c-19d1-499f-97ac-2377a20f0c2b';
UPDATE applications SET status = 'REJECTED' WHERE id = '667e21ac-9345-4081-ac6d-2966af833c59';
UPDATE applications SET status = 'REJECTED' WHERE id = 'a9d806e9-334f-409f-84d7-ecd274eaf58c';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '89f8fda7-7270-4aa1-9855-12173175c677';
UPDATE applications SET status = 'REJECTED' WHERE id = '48d4593f-2153-4170-af9c-9e85cf01e01d';
UPDATE applications SET status = 'REJECTED' WHERE id = '21e18011-930f-4caa-9c3c-580cb95598f8';
UPDATE applications SET status = 'REJECTED' WHERE id = '9a19e21d-efb0-4516-9ebd-99af6a73fb3a';
UPDATE applications SET status = 'REJECTED' WHERE id = '43c9cc45-160e-4666-99fe-734feb77961f';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = 'f49454a7-ef4e-485f-862a-b09dae5d56a7';
UPDATE applications SET status = 'REJECTED' WHERE id = 'c91bea30-91f2-4e1f-925b-1d368bc32fa5';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '03eaed34-85f8-4736-8c7c-c277cc654a50';
UPDATE applications SET status = 'REJECTED' WHERE id = 'd6599b20-8438-4b88-ba64-48f312093af1';
UPDATE applications SET status = 'REJECTED' WHERE id = 'a9e436f6-2210-41d9-bbcb-58fb6e2a74a9';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '78984daa-f301-4e68-a045-f5765f2434d2';
UPDATE applications SET status = 'REJECTED' WHERE id = '23912098-df0b-4647-aecc-709dc4825317';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = 'd4f2eccf-acc4-4639-a352-58c97b3a34d5';
UPDATE applications SET status = 'REJECTED' WHERE id = '5c83b512-91ef-44aa-b8dc-8dbc4042aab6';
UPDATE applications SET status = 'REJECTED' WHERE id = '3a7f431d-655f-4424-985c-f6c71fd6a9e0';
UPDATE applications SET status = 'REJECTED' WHERE id = '9cc636aa-ec6a-4ceb-a40e-922af8c71418';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = '55018961-12c1-4e6c-bdde-314a3ac8fab3';
UPDATE applications SET status = 'REJECTED' WHERE id = 'd67899ee-dce2-4420-a14b-4befa81d292d';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '1b232bdc-46bb-496f-ba4c-2f0536a2133b';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '6120407f-4d3d-4be0-9883-c64b9ea6a87e';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = 'dc257131-9189-460d-95ac-b42ceb233b2b';
UPDATE applications SET status = 'REJECTED' WHERE id = '3bf88dbb-1942-42d6-ae42-b714cc0b32ce';
UPDATE applications SET status = 'REJECTED' WHERE id = '11e1c10b-8b10-4d89-912e-0e0b8ebc1d39';
UPDATE applications SET status = 'REJECTED' WHERE id = '33658aa2-f4e7-493b-a9fe-1b0a0997c25e';
UPDATE students SET is_placed = TRUE WHERE id = '9ce374d7-71b9-4bf2-b55c-a8125984f07a';
UPDATE applications SET status = 'SELECTED' WHERE id = '811c5205-10c2-4d2c-a0ba-cda5ada38552';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'cd2d93e5-1779-4c49-8914-6080f12cff66';
UPDATE applications SET status = 'REJECTED' WHERE id = '2983249d-ef35-4c20-ac69-115f215a6648';
UPDATE applications SET status = 'REJECTED' WHERE id = '4ff2e718-873c-46ae-9285-5539c4917a3d';
UPDATE applications SET status = 'REJECTED' WHERE id = 'ff8c628d-c65b-4289-ada6-b0e8521ff868';
UPDATE applications SET status = 'REJECTED' WHERE id = 'a98434c8-cd8c-47f1-8114-514cf2c1a886';
UPDATE applications SET status = 'HR_INTERVIEW' WHERE id = 'f766167d-d6e5-405e-b34d-02ded49e9cd9';
UPDATE applications SET status = 'REJECTED' WHERE id = '69567082-a5c9-47ed-9c88-51a4b5890128';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '39e31970-d194-4476-b1b1-fbe958f70f00';
UPDATE students SET is_placed = TRUE WHERE id = '729bb234-78dc-4ab6-8aa2-1861c63620f4';
UPDATE applications SET status = 'SELECTED' WHERE id = 'a023969b-f9e3-4f81-9edd-25afbb20a002';
UPDATE applications SET status = 'REJECTED' WHERE id = 'b0df5709-f90c-4fc5-a303-befdf92f2b93';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '3e214a44-5764-4150-b4ac-857ba7d868af';
UPDATE applications SET status = 'REJECTED' WHERE id = '36ea22d8-2fa8-42ee-a69f-592059b4603d';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '86e8a468-de2f-481f-94af-d4abd4f5432d';
UPDATE students SET is_placed = TRUE WHERE id = 'd8c2b101-4345-4561-b5e3-884d647f9d82';
UPDATE applications SET status = 'SELECTED' WHERE id = 'd1ce2fc2-30f5-4075-b364-d3cc5b9ad60e';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '295bace4-d040-4651-b310-72814ea2b849';
UPDATE applications SET status = 'REJECTED' WHERE id = '6bdc34b6-ca68-44f7-b215-091d2e85d136';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '81d5ff82-5b25-4098-b184-d883e8a3da2e';
UPDATE applications SET status = 'REJECTED' WHERE id = '32d3ae10-7735-43af-9dc5-b63f1cde0763';
UPDATE applications SET status = 'REJECTED' WHERE id = '9b4144d0-962d-4b03-8a6e-a34b6fbff381';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '7f564d3e-4d10-45f0-8220-b653a2b493fa';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '8ffd62a5-f229-46bd-95e8-9b26ed2c5169';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '7e0824a7-b21a-4381-b163-276eb9aa45a9';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '80d26ebf-dc4e-4645-83d6-004caf9d6884';
UPDATE students SET is_placed = TRUE WHERE id = 'ab4c41e0-0b55-4842-9018-ddefd9e881c8';
UPDATE applications SET status = 'SELECTED' WHERE id = '58ae74ed-da10-42ba-803f-cd94347665d5';
UPDATE applications SET status = 'REJECTED' WHERE id = '182ab167-754d-49e2-8baa-2b155638ef0b';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '8c750b06-f4a9-45a7-8749-5bacee25df1a';
UPDATE applications SET status = 'REJECTED' WHERE id = 'b23e17b1-8fbe-47c4-8e43-bd4bbd6cc52c';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'a5813ee4-4866-43f6-857c-4dc666bb3e6c';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = 'ea6d97dc-3ac0-494e-b729-61db0818f449';
UPDATE applications SET status = 'SHORTLISTED' WHERE id = '0f9d19c1-f384-4a33-b77f-d72a4b7db066';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = 'd5ebb33a-8200-4a18-8ea8-eca55937df3b';
UPDATE applications SET status = 'REJECTED' WHERE id = '3f2fda8b-d1dd-4408-951f-e6626f4f724d';
UPDATE applications SET status = 'REJECTED' WHERE id = 'c6d44074-d00e-4ea3-beab-928fde15518b';
UPDATE applications SET status = 'TECH_INTERVIEW' WHERE id = '95876d6f-3374-4ffd-962b-09e48a8ac951';

-- Sample notifications for first 30 students
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SHORTLISTED', 'You have been shortlisted', 'Congratulations, you have been shortlisted for the next round.', true FROM students WHERE id = '706cc9ab-c3e2-490f-b599-a6861eb5887c';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'INTERVIEW_SCHEDULED', 'Interview scheduled', 'Your interview has been scheduled. Check the details in your dashboard.', false FROM students WHERE id = '285b501c-7ab1-48d2-be60-04dc1b92f385';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SELECTED', 'Congratulations! You have been selected', 'You have received an offer. View details in your placements section.', true FROM students WHERE id = '9357f59e-3013-4253-972d-214c20ed1080';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'JOB_POSTED', 'New job opportunity available', 'A new job drive matching your profile has been posted.', true FROM students WHERE id = '7796c51e-ddbf-461e-bbff-3261ebb90dc2';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'JOB_POSTED', 'New job opportunity available', 'A new job drive matching your profile has been posted.', true FROM students WHERE id = 'cb2039bc-7ec5-41d8-b16d-72968c82736b';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SELECTED', 'Congratulations! You have been selected', 'You have received an offer. View details in your placements section.', true FROM students WHERE id = 'd4839966-0b53-4cc0-9951-668dee5757be';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SELECTED', 'Congratulations! You have been selected', 'You have received an offer. View details in your placements section.', true FROM students WHERE id = '5d1fc544-ea86-4c0f-a2db-da6083433a80';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SELECTED', 'Congratulations! You have been selected', 'You have received an offer. View details in your placements section.', false FROM students WHERE id = 'cc21d97f-e7c2-4670-a84b-8ba6432ad6f2';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'JOB_POSTED', 'New job opportunity available', 'A new job drive matching your profile has been posted.', false FROM students WHERE id = 'e2b73408-429d-40d7-af92-59c71515b67b';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'JOB_POSTED', 'New job opportunity available', 'A new job drive matching your profile has been posted.', true FROM students WHERE id = 'fc7bd0d7-58da-40a9-9538-171eb857b619';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'JOB_POSTED', 'New job opportunity available', 'A new job drive matching your profile has been posted.', true FROM students WHERE id = '6166a13f-fcc4-4196-bfee-f97e9f2bf136';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'DEADLINE_REMINDER', 'Application deadline tomorrow', 'The application deadline for a job you viewed is tomorrow.', false FROM students WHERE id = '4bb0781f-31ae-41fd-907e-789ed95aa89d';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'DEADLINE_REMINDER', 'Application deadline tomorrow', 'The application deadline for a job you viewed is tomorrow.', true FROM students WHERE id = 'fd56a2ec-1ce2-4bc1-bf42-bc1b9750910d';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SHORTLISTED', 'You have been shortlisted', 'Congratulations, you have been shortlisted for the next round.', true FROM students WHERE id = '3b330dab-59d7-478f-8223-d1c2c7d8c0ac';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'JOB_POSTED', 'New job opportunity available', 'A new job drive matching your profile has been posted.', false FROM students WHERE id = '1881e510-d156-452f-b93b-bcd302a1fa1b';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'DEADLINE_REMINDER', 'Application deadline tomorrow', 'The application deadline for a job you viewed is tomorrow.', true FROM students WHERE id = '36a31603-4d72-4dfb-a6bd-6a5b5cf808d8';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'INTERVIEW_SCHEDULED', 'Interview scheduled', 'Your interview has been scheduled. Check the details in your dashboard.', true FROM students WHERE id = '3733e172-5875-4ad2-9673-99fb4252609b';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'JOB_POSTED', 'New job opportunity available', 'A new job drive matching your profile has been posted.', true FROM students WHERE id = 'f31ba273-df24-4bad-bff5-a0739ddd9c01';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SELECTED', 'Congratulations! You have been selected', 'You have received an offer. View details in your placements section.', true FROM students WHERE id = '92aa9c78-68df-48d7-be0d-516268938796';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'JOB_POSTED', 'New job opportunity available', 'A new job drive matching your profile has been posted.', true FROM students WHERE id = 'd8508a1f-09ad-48e9-93c3-a9265deec583';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'DEADLINE_REMINDER', 'Application deadline tomorrow', 'The application deadline for a job you viewed is tomorrow.', true FROM students WHERE id = 'c141ae93-6553-4559-a178-d1ac13a84e9a';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SELECTED', 'Congratulations! You have been selected', 'You have received an offer. View details in your placements section.', true FROM students WHERE id = 'd8c2b101-4345-4561-b5e3-884d647f9d82';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'INTERVIEW_SCHEDULED', 'Interview scheduled', 'Your interview has been scheduled. Check the details in your dashboard.', false FROM students WHERE id = '23f18cf1-694e-48e7-b41d-a03099a52609';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SHORTLISTED', 'You have been shortlisted', 'Congratulations, you have been shortlisted for the next round.', true FROM students WHERE id = '89350d3a-f3c1-4f07-9514-8a77d412722d';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SHORTLISTED', 'You have been shortlisted', 'Congratulations, you have been shortlisted for the next round.', true FROM students WHERE id = '4f5fcfac-2526-418a-adc1-460118fe4cc3';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SELECTED', 'Congratulations! You have been selected', 'You have received an offer. View details in your placements section.', false FROM students WHERE id = 'ac37fdbb-8c2a-4025-b8cf-4e80b212ab1d';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SHORTLISTED', 'You have been shortlisted', 'Congratulations, you have been shortlisted for the next round.', false FROM students WHERE id = 'c2d47e8f-1567-4abc-8e39-26a60b200925';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'DEADLINE_REMINDER', 'Application deadline tomorrow', 'The application deadline for a job you viewed is tomorrow.', true FROM students WHERE id = 'a7c21a6f-db6b-49f9-a329-5f520b09d94b';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SELECTED', 'Congratulations! You have been selected', 'You have received an offer. View details in your placements section.', true FROM students WHERE id = '0019e825-856c-451e-930b-a8f28ee60d6c';
INSERT INTO notifications (user_id, type, title, message, is_read) SELECT user_id, 'SELECTED', 'Congratulations! You have been selected', 'You have received an offer. View details in your placements section.', true FROM students WHERE id = '57f0cc73-54d2-485c-acc8-032eae2d43f7';

COMMIT;
